streamlit
base64
pymupdf  # For PDF text extraction
google-generativeai
google-api-core
pandas
reportlab  # For generating PDFs
python-dotenv
pytesseract
pdf2image
langdetect
gtts
fpdf
langcodes
deep-translator
pillow  # For image processing
torch
transformers
